form {
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding-bottom: 4rem;
  font-family: Vazirmatn;
  font-weight: 500;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 255, 0.3), rgba(10, 100, 255, 0.3));

  .form-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4rem;
    img {
      height: 5rem;
    }
  }
  p {
    font-size: 20px;
    text-align: justify;
    padding: 10px;
  }
  input {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }
  textArea {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  .captcha-image {
    width: 150px;
    cursor: pointer;
    margin: 15px;
  }
}